# Datasets potenciales

Autor: Yojan Andrés Alcaraz Pérez

In [1]:
import pandas as pd

## Dataset 1

In [2]:
hotel_res = pd.read_csv("/workspaces/DSCH-Desafios/data/Hotel Reservations.csv")

In [3]:
hotel_res.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [4]:
hotel_res.shape

(36275, 19)

## Dataset 2

In [6]:
hurto = pd.read_csv("/workspaces/DSCH-Desafios/data/hurto_a_persona_transporte_publico.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 5, saw 3

In [ ]:
hurto.head()

NameError: name 'hurto' is not defined

## Dataset 3

In [7]:
hipertension = pd.read_csv("/workspaces/DSCH-Desafios/data/hypertension_data.csv")

In [8]:
hipertension.shape

(26083, 14)

In [10]:
hipertension.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,57.0,1.0,3,145,233,1,0,150,0,2.3,0,0,1,1
1,64.0,0.0,2,130,250,0,1,187,0,3.5,0,0,2,1
2,52.0,1.0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56.0,0.0,1,120,236,0,1,178,0,0.8,2,0,2,1
4,66.0,0.0,0,120,354,0,1,163,1,0.6,2,0,2,1